
@model List<Category>


    <div class="container">
        <div class="row pt-4">

            <div class="col-6 text-primary">
                    Category List
            </div>

             <div class="col-6  text-end">
                <h2 >
                <a class="btn btn-primary" asp-controller="Category" asp-action="Create">  <i class="bi bi-plus-circle">  </i> Add Category  </a>
                </h2>
            </div>

         </div>
   
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Category Display Order
            </th>
            <th>
                 Actions
            </th>

        </tr>
    @foreach (Category category in Model)
    {
        <tr>
            <td> @category.Name </td>
            <td> @category.DisplayOrder </td>
            
            <td>
                <div class="row">
                    <div class="col-6">
                            <a asp-controller="Category"  asp-action="Edit" asp-route-id="@category.Id">
                          <i class="bi bi-pencil-square"></i> <span class="text-primary"> Edit </span>
                        </a>
                        
                    </div>
                        <div class="col-6">
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                                <i class="bi bi-x-circle-fill"></i> <span class="text-warning"> Delete </span>
                            </a>
                        </div>
                </div>

            </td>
        </tr>
    }


    </table>
</div>